<div style="border-top:  5px solid white;;">
    <p-table #dt1 [value]="patients" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'country.name', 'agent.name', 'status']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Patient
                        
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Address
                        
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Agent
                        
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Register Date
                        
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Age
                        
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Priority
                    </div>
                </th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
            <tr>
                <td>
                    {{ patient.name+' '+patient.lastName }}
                </td>
                <td>
                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + patient.address.state" style="width: 20px" />
                    <span class="ml-1 vertical-align-middle">{{ "("+patient.address.state+") "
                        +patient.address.description }}</span>
                </td>
                <td>
                    <img [alt]="patient.agent.name"
                        src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ patient.agent.image }}" width="32"
                        style="vertical-align: middle" />
                    <span class="ml-1 vertical-align-middle">{{ patient.agent.name }}</span>
                </td>
                <td>
                    {{ patient.register | date: 'MM/dd/yyyy' }}
                </td>
                <td>
                    {{ patient.age }}
                </td>
                <td>
                    <p-tag [value]="patient.status" severity={{getSeverity(patient.status)}}></p-tag>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No patients found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>



