<div class="wrap">
  <div class="containers">
    <h1>Patient List</h1>
    <p>
      Your health is our priority. We are committed to providing the best care
      and treatment.
    </p>

    <p style="color: red" *ngIf="loadingPatients && loadingSchedule">
      Loading data...
    </p>
   
    <p-table
      #dt1
      [value]="patientSchedules"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loadingPatients || loadingSchedule"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['name', 'country.name', 'agent.name', 'status']"
      [tableStyle]="{ 'min-width': '50rem' }"
      scrollHeight="400px"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Patient</div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Address</div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Agent</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Register Date</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Age</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Priority</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Department</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Schedule</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patientSchedule>
        <tr>
          <td>
            {{ patientSchedule.name }}
          </td>
          <td>
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              [class]="'flag flag-' + patientSchedule.addressState"
              style="width: 20px"
            />
            <span class="ml-1 vertical-align-middle">{{
              "(" +
                patientSchedule.addressState +
                ") " +
                patientSchedule.addressDescription
            }}</span>
          </td>
          <td>
            <!--<img
              [alt]="patientSchedule.agentName"
              src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
                patientSchedule.agentImage
              }}"
              width="32"
              style="vertical-align: middle"
            />-->
            <!-- <span class="ml-1 vertical-align-middle">{{            patientSchedule.agentName/            }}</span> -->
          </td>
          <td>
            {{ patientSchedule.register | date : "MM/dd/yyyy" }}
          </td>
          <td>
            {{ patientSchedule.age }}
          </td>
          <td>
            <p-tag
              [value]="patientSchedule.status"
              severity="{{ getSeverity(patientSchedule.status) }}"
            ></p-tag>
          </td>
          <td>
            {{ patientSchedule.department }}
          </td>
          <td>
            {{ patientSchedule.date | date : "MM/dd/yyyy" }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No patients found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
