<div class="wrap">
    <div class="containers">
        <div style="display: flex;" >
            <div  style="display: flex;justify-items: center;align-items: center; flex-direction: column;margin-right: 10%;">
                <h1>Schedule</h1>
                <p>Please provide an available date:</p>
                <div class="input-field">
                    <p-calendar [(ngModel)]="date" class="p-inputtext-sm" aria-required="true"></p-calendar>
                </div>

                <div class="input-field">
                    <p-dropdown [options]="tempDepartment" [(ngModel)]="selectedDepartment" optionLabel="code"
                        class="p-inputtext-sm" aria-required="true"></p-dropdown>
                </div>
               
                <p>name:{{selectedPatient.name}}</p>
                <p>lastname:{{selectedPatient.lastName}}</p>
               
                <p-button label="Submit" (click)="handleClick()" styleClass="p-button-raised"></p-button>
            </div>
            
            
           <!--  <div>
                <p>name:name</p>
                <p>lastname:lastname</p>
            </div> -->

        </div>
    </div>
</div>


