<div class="wrap">
    <div class="containers" >
        <div style="display: flex;"  *ngIf="existPatient">
            <div  style="display: flex;justify-items: center;align-items: center; flex-direction: column;margin-right: 10%;">
                <h1>Schedule</h1>
                <p>Please provide an available date:</p>
                <div class="input-field">
                    <p-calendar [(ngModel)]="date" class="p-inputtext-sm" aria-required="true"></p-calendar>
                </div>

                <div class="input-field">
                    <p-dropdown [options]="tempDepartment" [(ngModel)]="selectedDepartment" optionLabel="code"
                        class="p-inputtext-sm" aria-required="true"></p-dropdown>
                </div>
               
                <p>name:{{selectedPatient.name}}</p>
                <p>lastname:{{selectedPatient.lastName}}</p>
               
                <p-button label="Submit" (click)="saveSchedule()" styleClass="p-button-raised"></p-button>
            </div>

        </div>
    </div>
</div>


