<div class="wrap">
    <div class="containers"
        >
        <h1>Login</h1>
        <p>Please provide the email an password for agent user:</p>
        <div style="display: flex;">
            <div class="input-field">
                <span class="p-float-label">
                    <input pInputText id="password" [(ngModel)]="password" class="p-inputtext-sm" required />
                    <label htmlFor="password">password</label>
                </span>
            </div>
            <div class="input-field">
                <span class="p-float-label">
                    <input pInputText id="username" [(ngModel)]="username" class="p-inputtext-sm" required />
                    <label htmlFor="username">username</label>
                </span>
            </div>
        </div>
        <p-button type="button" label="Submit" (click)="handleClick('value')" styleClass="p-button-raised"></p-button>
    </div>
</div>