/* .wrap {
    margin: 0;
    padding: 20px 0 20px 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #94AEE4, #A7E9C3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
} */





.input-field {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.submit-button {
    border: none;
    background-color: #a0a7a3;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
}

.submit-button:hover {
    background-color: #94AEE4;
}