<div class="wrap">

    <div class="containers" *ngIf="newRecord"><!-- style="border-bottom:  5px solid rgb(230, 51, 51);" -->

        <h1>Patient Registration</h1>
        <p>Please provide the following information to register a new patient:</p>

        <div style="display: flex;">
            <div class="input-field">
                <p-calendar [disabled]="true" [(ngModel)]="date" class="p-inputtext-sm" aria-required="true"></p-calendar>
            </div>
            <div class="input-field">
                <span class="p-float-label">
                    <input pInputText id="name" [(ngModel)]="patient.name" class="p-inputtext-sm" required />
                    <label htmlFor="name">name</label>
                </span>
            </div>
            <div class="input-field">
                <span class="p-float-label">
                    <input pInputText id="lastname" [(ngModel)]="patient.lastName" class="p-inputtext-sm" required />
                    <label htmlFor="lastname">lastname</label>
                </span>
            </div>
            <div class="input-field">
                <span class="p-float-label">
                    <p-inputMask [disabled]="true" mask="999.999.999-99" [(ngModel)]="dni" placeholder="999.999.999-99"
                        class="p-inputtext-sm" ></p-inputMask>
                    <label htmlFor="dni">DNI</label>
                </span>
            </div>
        </div>
        <div style="display: flex;">
            <div class="input-field">
                <span class="p-float-label">
                    <input pInputText id="email" [(ngModel)]="patient.email" class="p-inputtext-sm" required type="email" />
                    <label htmlFor="email">email</label>
                </span>
            </div>
            <div class="input-field">
                <span class="p-float-label">
                    <input pInputText pKeyFilter="int" [(ngModel)]="patient.age" class="p-inputtext-sm" required />
                    <label htmlFor="age">age</label>
                </span>
            </div>
            <div class="input-field">
                <span class="p-float-label">
                    <p-inputMask mask="(999) 999-9999" [(ngModel)]="patient.phone" placeholder="(999) 999-9999"
                        class="p-inputtext-sm"></p-inputMask>
                    <label htmlFor="phone">phone</label>
                </span>
            </div>
        </div>
        <div style="display: flex;">
            <div class="input-field">
                <p-dropdown [options]="address" [(ngModel)]="selectedaddress" optionLabel="state" class="p-inputtext-sm"
                    aria-required="true"></p-dropdown>
            </div>
            <div class="input-field">
                <p-dropdown [options]="agent" [(ngModel)]="selectedagent" optionLabel="name" class="p-inputtext-sm"
                    (ngModelChange)="onDropdownChange($event)" aria-required="true"></p-dropdown>
            </div>
            <div class="input-field">

                <p-dropdown [options]="tempStatus" [(ngModel)]="selectedstatus" optionLabel="code"
                    class="p-inputtext-sm" aria-required="true"></p-dropdown>
            </div>
        </div>

        <div>
            <div style="margin: 10px;">
                <p-button label="Submit" (click)="savePatient('value')" styleClass="p-button-raised"></p-button>
            </div>
            <div style="margin: 10px;">
                <p-button label="Return" (click)="goBack()" styleClass="p-button-raised"></p-button>
            </div>
        </div>
    </div>
    <div style="background-color: transparent;width: 100%; height: 50px;">
    </div>

    <div *ngIf="!newRecord">
        <div class="containers">
            <div class="input-field">
                <span class="p-float-label">
                    <p-inputMask mask="999.999.999-99" [(ngModel)]="dni" placeholder="999.999.999-99"
                        class="p-inputtext-sm"></p-inputMask>
                    <label htmlFor="dni">DNI</label>
                </span>
            </div>
            <p-button label="Search" (click)="searchPatient(dni)" styleClass="p-button-raised"></p-button>
        </div>
    </div>

</div>