/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


body {
	font-family: var(--font-family);
	background: linear-gradient(to top left, #94AEE4, #A7E9C3);
	background: -webkit-linear-gradient(to top left, #94AEE4, #A7E9C3);
	background: -moz-linear-gradient(to top left, #94AEE4, #A7E9C3);
	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.p-dropdown {
	width: 185px;
}

.wrap{
    height: 75vh;
}

.containers {
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0 ;
    background: rgb(167, 233, 195);
    background: linear-gradient(90deg, rgba(167, 233, 195, 1) 0%, rgba(148, 174, 228, 1) 10%, rgba(61, 77, 68, 1) 200%);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}